<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Bootcamp Registration</title>

    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style-login.css" />
  </head>
  <body>
    <!-- <div class="containers-luar"></div> -->
    <div class="container">
      <div class="head">
        <h2>Selamat Datang Di Chat Bootcamp</h2>
      </div>

      <div class="body">
        <!-- Tag form untuk mengakses nomor telepon dan password -->
        <form action="" method="">
          <!-- Input Username -->
          <input
            type="text"
            name="username"
            class="noTelepon"
            placeholder="Currently disabled"
            disabled
          />

          <!-- Input Password -->
          <input
            type="password"
            name="password"
            class="password"
            placeholder="Currently disabled"
            disabled
          />

          <!-- Input Re-Password -->
          <input
            type="password"
            name="passwordConfirm"
            class="password"
            placeholder="Currently disabled"
            disabled
          />

          <!-- Input Email -->
          <input
            type="email"
            name="email"
            class="noTelepon"
            placeholder="Currently disabled"
            disabled
          />

          <!-- Tombol Input -->
          <button disabled type="submit" id="register" name="register" class="input">
            Registrasi
          </button>
        </form>

        <!-- Footer -->
        <footer>
          <p>
            Sudah memiliki akun?
            <a href="login" class="footer">Sign In</a>
          </p>
        </footer>
      </div>
    </div>
    <script></script>
  </body>
</html>
