@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(/images/background-image.jpg);
  background-size: cover;
  overflow-y: hidden;
}

.container {
  margin: 80px auto 120px auto;
  width: 30%;
  background: white;
  padding-bottom: 40px;
  border-radius: 5px;
}

.container .head {
  margin: auto;
  padding: 30px 0;
  border-bottom: 2px solid #323232;
  width: 80%;
}

.container .head h2 {
  color: #323232;
  font-family: 'Readex Pro', sans-serif;
  text-align: center;
  font-size: 20px;
}

.container .body {
  padding-top: 30px;
  width: 80%;
  margin: auto;
}

.container .body input {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: 2px solid #bbb;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .body input:focus {
  border-radius: 5px;
  border: 2px solid #ffae34;
  -webkit-box-shadow: 0px 0px 2px 4px rgba(255, 174, 52, 0.8);
          box-shadow: 0px 0px 2px 4px rgba(255, 174, 52, 0.8);
}

.container .body button.input {
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#00A5FD), color-stop(#D100A8), to(#00A5FD));
  background: linear-gradient(to right, #00A5FD, #D100A8, #00A5FD);
  color: #fff;
  font-size: 18px;
  background-size: 200%;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .body button.input:hover {
  background-position: right;
  cursor: pointer;
}

.container .body footer {
  margin-top: 20px;
}

.container .body footer p {
  font-size: 13px;
  color: #323232;
  text-align: center;
}

.container .body footer p a {
  text-decoration: none;
  font-weight: bold;
  color: #005e91;
}

.container .body div.btn-google {
  border-radius: 5px;
  margin-top: -40px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: #cc0000;
  color: #fff;
  font-size: 16px;
  background-size: 200%;
  -webkit-transition: .5s;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .body div.btn-google i {
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.container .body div.btn-google span {
  padding-left: 10px;
}

.container .body div.btn-google:hover {
  background: #f30202;
  cursor: pointer;
}

.container .body .or {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  z-index: 999;
  position: relative;
}

.container .body .or p {
  font-size: 15px;
  color: #aaa;
  padding: 0px 5px;
  text-align: center;
}

.g-signin2 {
  width: 100% !important;
}

.abcRioButton {
  width: 100% !important;
  height: 40px !important;
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .container {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 578px) {
  .container {
    width: 80%;
  }
}
/*# sourceMappingURL=style-login.css.map */